@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* #app {
    width: 100%;
    max-width: 1200px;
} */

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo {
    width: 30px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    cursor: pointer;
    position: relative;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
}

.btn:hover {
    opacity: 0.9;
}

.dark {
    color: white;
}

.dark .btn {
    background: #f4f4f4;
    color: black;
}

/* ShowCase */
.showcase {
    width: 100%;
    height: 400px;
    background: url('/frontend/img/showcase.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

.showcase .btn {
    margin-top: 20px;
}

/* Words in the Middle
.middleWord {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 10px;

} */

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.cards img {
    width: 100%;
    margin-bottom: 20px;
}

.cards h3 {
    margin-bottom: 5px;
}

.cards a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}

.cards a:hover i {
    margin-left: 10px;
}



/* Brands */
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brands {
    margin: 20px auto;
}

.col {
    width: 160px;
}

.col img {
    width: 60%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col img:hover {
    filter: grayscale(0);
}

/* Follow */
.follow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;
}

.follow * {
    margin-right: 10px;
}

/* Links */
.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.links li {
    line-height: 2.8;
    text-align: center;
}

/* Footer */
footer {
    background: #f2f2f2;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

footer p {
    color: black;
}

footer h3 {
    color: black;
    margin-bottom: 20px;
}

.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 50px;
    margin-bottom: 20px;
}

.footer-col-3 li {
    color: black;
    text-align: center;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

/* Products Page */
/* Breadcrumb */
.breadcrumb ul {
    padding: 10px 16px 20px 0;
    list-style: none;
}

/* Display list items side by side */
.breadcrumb ul li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb ul li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb ul li a {
    color: black;
    text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb ul li a:hover {
    color: #b5b5b5;
    text-decoration: underline;
}



/* Filter */
.container-filter {
    margin-top: 20px;
    overflow: hidden;
}


/* Style the buttons */
#BtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    /* //min-height: 100vh; */
}

.btn-filter {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    margin-right: 10px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn-filter:hover {
    background-color: #ddd;
}

.btn-filter.active {
    background-color: grey;
    color: white;
}

/* Products */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col_4 {
    flex-basis: 25%;
    padding: 10px 10px 10px 0;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    display: none;
}

.show {
    display: block;
}

.col_4 img {
    width: 100%;
}

.col_4:hover {
    transform: translateY(-5px);
}

select {
    border: 1px solid grey;
    padding: 5px;
}

select:focus {
    outline: #ff523b;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid black;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: grey;
    color: white;
}

/* Single Products Page */
.single-container {
    max-width: 1100px;
    margin: auto;
}

.single-container .row {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    flex: 2;
    padding-right: 20px;
}

.box1 #ProductImg {
    width: 100%;
}

.box2 {
    flex: 2;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.box2 h1 {
    margin-bottom: 20px;
    color: rgb(58, 57, 57);
}

.box2 h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.box2 select {
    width: 150px;
    text-align: center;
    font-size: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.box2 input {
    width: 50px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    border: 1px solid grey;
}

.box2 a {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 23%;
    cursor: pointer;
}

.small-title-container {
    max-width: 1080px;
    margin: auto;
    padding: 20px 25px 30px 25px;
}

.colSingle {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.colSingle img {
    width: 100%;
}

.container-single {
    width: 100%;
    margin: auto;
}

.single-product .fa {
    color: grey;
    margin-right: 10px;
}

.colSingle:hover {
    transform: translateY(-5px);
}


/* Contact Us Page */
#map {
    width: 50%;
    height: 500px;
    /* flex: 50%; */
    padding-bottom: 10px;
    /* margin-left: 50px; */
}

#map iframe {
    width: 100%;
    height: 100%;
}

.contact-container {
    width: 90%;
    ;
    max-width: 1100px;
    margin: auto;
}

.contact-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactbox1 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.contactbox2 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.contactbox3 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

/* Sign-In Page */
.account-page {
    padding: 85px 0;
    background: radial-gradient(#fff, #d1d1d1);
}

.form-container {
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

form a {
    font-size: 12px;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

#Indicator {
    width: 100px;
    border: none;
    background: black;
    height: 3px;
    margin-top: 8px;
    transform: translateX(110px);
    transition: transform 1s;
}

/* Cart Page */
.cart-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    padding-left: 19px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.cart-page {
    margin: auto;
    padding-bottom: 70px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: rgb(66, 66, 66);
    font-weight: normal;
}

td {
    padding: 10px 5px 10px 0;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: black;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid grey;
    width: 100%;
    max-width: 420px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.cart-container .btn {
    margin-top: 20px;
    background: rgb(66, 66, 66);
    width: 200px;
}

.btn a{
    color: white;
}

/* Checkout Page */
.chk-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 20px;
}

.chk-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.chk-col1 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.col1-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.col1-items a {
    width: 20%;
}

.col1-items img {
    width: 100%;
}


.chk-col2 {
    flex-basis: 30%;
    
}

span.price {
    float: right;
    color: rgb(61, 61, 61);
    /* font-size: 15px; */
}

.chk-col2 p{
    font-size: 20px;
}

.chk-col2 label{
    display: block;
    text-align: center;
}

.chk-col2 h3{
    font-size: 20px;
    text-align: center;
}

#total-price{
    float: right;
    font-size: 20px;
}

.chk-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.chk-icon button{
    font-size: 56px;
    background: none;
    border: none;
    cursor: pointer;
}

.chk-icon button:hover{
    transform: translateY(2px);
}

.chk-icon button:focus{
    outline: none;
}



@media(max-width: 700px) {

    .main-nav #logo-link {
        display: flex;
        align-items: center;
    }

    .main-nav .menu-btn {
        display: flex;
        left: 0;
        top: 0;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .main-nav ul.right-menu {
        position: absolute;
        right: 4%;
        transform: translateX(4%);
    }

    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 60px 20px 20px 20px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .main-nav .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }

    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }

    .main-nav ul.main-menu.show {
        transform: translateX(-20px);
    }

    .follow {
        margin-bottom: 5%;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .links .links-inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .col_4 {
        flex-basis: 100%;
    }

    .page-btn {
        padding-left: 25%;
    }

    .btn-filter {
        margin: 0;
    }

    .single-container .row {
        flex-direction: column;
        margin-left: 1%;
    }

    .box1 {
        flex: 1;
        margin-left: 10px;
    }

    .box2 {
        margin-left: 10px;
    }

    .container-single {
        width: 90%;
    }

    .chk-row {
        flex-direction: row;
    }

    .chk-col1 {
        order: 1;
        margin: auto;
        flex-basis: 100%;
    }

    .chk-col2 {
        order: 0;
        flex-basis: 60%;
        margin: auto;
        margin-bottom: 20px;
        flex-basis: 100%;
    }

    .cards img {
        width: 80%;
        padding-left: 15%;
    }

    .small-container {
        max-width: 1080px;
        margin: auto;
        padding-left: 15%;
        padding-right: 25px;
        padding-bottom: 30px;
    }
}

@media(max-width: 500px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .links .links-inner {
        grid-template-columns: 1fr;
    }

    .links .links-inner ul {
        margin-bottom: 20px;
    }

    .follow {
        margin-bottom: 5%;
    }

    .page-btn {
        padding-left: 13%;
    }

    #BtnContainer {
        max-width: 98%;
    }

    .contact-row {
        display: flex;
        flex-wrap: wrap;
    }

    .contactbox1 {
        order: 1;
    }

    .contactbox2 {
        order: 3;
    }

    .contactbox3 {
        order: 2;
    }

    #map {
        order: 4;
        width: 100%;
    }

    .cards img {
        width: 75%;
        padding-left: 15%;
    }
}


@media(max-width: 473px) {
    .col {
        width: 130px;
    }
    .row {
        display: flex;
        /* align-items: center; */
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cards img {
        width: 80%;
        padding-left: 15%;
    }
}